---
layout: default
---

<h4>Category</h4>
<ul>
    
    {% for category in site.categories %}
    <li><a href="/categories/{{ category | first }}/" title="view all posts">{{ category | first }} {{ category | last | size }}</a>
    </li>
    </li>
    {% endfor  %}
</ul>

<div class="row-fluid">
    <div class="span12">
        {% for post in paginator.posts %}
            <div class="row-fluid">
                <div class="span12 ">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="post">
                                <div class="post-hd">
                                    <div class="post-info">
                                        <h1 class="post-title"><a href="{{site.baseurl}}{{post.url}}"> {{ post.title }}  </a> <br></h1>

                                        <p class="post-extra">
                                            Author:<a rel="bookmark">liuyiyou</a>| Date:
                                             {{ post.date | date: "%F" }}
                                        </p>
                                    </div>
                                </div>
                                <div class="h-dotted-line"></div>
                                <div class="post-bd">{{ post.excerpt }} </div>
                                <div class="h-dotted-line"></div>
                                <a class="link" href="{{site.baseurl}}{{post.url}}"> More  </a>
                                <hr>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}

