---
layout: page
---
{% include JB/setup %}

{% for post in paginator.posts %}
  <article class="hentry">
  <header>
    <div class="entry-meta">
      <span class="entry-date date published updated">
	  <time datetime="{{ post.date | date: "%B %e, %Y" }}"><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.date | date: "%B %e, %Y" }}</a></time>
	  </span>
	  <span class="author vcard"><span class="fn"><a href="{{ BASE_PATH }}{{ post.url }}" title="liuyiyou">liuyiyou</a></span></span>
	  &nbsp; • &nbsp;<span class="entry-comments"><a href="{{ BASE_PATH }}{{ post.url }}#ds-thread">Comment</a></span>
      
      <span class="entry-reading-time pull-right">
        <i class="fa fa-clock-o"></i>
        
        Reading time ~1 minute
      </span><!-- /.entry-reading-time -->
      
    </div><!-- /.entry-meta -->
    
      <h1 class="entry-title"><a href="{{ BASE_PATH }}{{ post.url }}" rel="bookmark" title="{{ post.title }} " itemprop="url">{{ post.title }} </a></h1>
    
  </header>
  <div class="entry-content">
   
{{ post.excerpt }}

  </div>
   <div class="read-more2">
      <a href="{{ BASE_PATH }}{{ post.url }}"  title="{{ post.title }} " >阅读全文 </a>
   </div>
  <!-- /.entry-content -->
</article>


      
{% endfor %}
<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
