    {% if page.url ==  "/archive.html" %}
    一命二运三风水,四积阴德五读书,六名七相八敬神,九交贵人十养生,十一择人与择偶,十二趋吉要避凶
    {% elsif page.url ==  "/categories.html" %}
    只要不要命，其他的都是小事
    {% elsif page.url ==  "/tags.html" %}
    我辗转在每个分叉路口，你浪迹于每个海角天涯，直到某一天，我们发现起起落落，爱恨离合，其实从来都半点不由人
    {% elsif page.url ==  "/project.html" %}
    于小事得道，于小人成佛。
    {% elsif page.url ==  "/about.html" %}
    心有猛虎，细嗅蔷薇
    {% elsif page.url ==  "/books.html" %}
    一本书先读厚再读薄，这本书，才真的是读进去了
    {% else %}
    温故而知新，触类而旁通
    {% endif %}
{% for cat in site.categories %}
    <li>{{ cat[0] }}</li>
{% endfor %}

{% for post in site.categories.CATEGORY_NAME %}

{{CATEGORY_NAME}}

{% endfor %}