    {% if page.url ==  "/archive.html" %}
    用爱心做事，用感恩的心做人
    {% elsif page.url ==  "/categories.html" %}
    跑步开始，早晚个一次，一次半小时
    {% elsif page.url ==  "/tags.html" %}
    keen team，不搜不知道，一搜吓一跳
    {% elsif page.url ==  "/project.html" %}
    计算机程序的构造与解析，程序员的自我修养
    {% elsif page.url ==  "/about.html" %}
    有爱互动，梦想海贼王
    {% elsif page.url ==  "/books.html" %}
    先php，后python
    {% else %}
    用心做事，做好每件事
    {% endif %}
{% for cat in site.categories %}
    <li>{{ cat[0] }}</li>
{% endfor %}

{% for post in site.categories.CATEGORY_NAME %}

{{CATEGORY_NAME}}

{% endfor %}
