{% if site.comments.duoshuo.name %}
<!-- duoshuo start -->
<div class="ds-thread" data-thread-key="{{ page.title }}" data-title="{{ page.title }}" data-url="{{ BASE_PATH }}{{ page.url }}"></div>
<!-- duoshuo end -->
{% endif %}
<!-- duoshuo end -->
<!-- duoshuo js start (one load) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"liuyiyou"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- duoshuo js end -->
