<div class="blog-footer">
    <p>build for<a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a> and modify by <a href="https://weibo.com/zsq164">@songqing</a>.</p>
    <p>
        <a href="#">top</a>
    </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ BASE_PATH }}/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ BASE_PATH }}/js/ie10-viewport-bug-workaround.js"></script>

