<header class="clearfix">
				<span>liuyiyou.cn <span class="bp-icon bp-icon-about" data-content="The Blueprints are a collection of basic and minimal website concepts, components, plugins and layouts with minimal style for easy adaption and usage, or simply for inspiration."></span></span>
				<h1>Index Timeline</h1>
				<nav>
					<a href="/"  ><span>Index</span></a>
					<a id="category" href="javascript:void(0)" ><span>Category</span></a>
					<a href=""><span>Archive</span></a>
					<a href="" ><span>About</span></a>
				</nav>
</header>