 <nav class="blog-nav">
    {% if page.url ==  "/archive.html" %}
    <a class="blog-nav-item" href="/">Home</a>
    <a class="blog-nav-item active" href="{{ '/archive.html' }}">Archive</a>
    <a class="blog-nav-item" href="{{'/categories.html'}}">Category</a>
    <a class="blog-nav-item" href="{{'/tags.html'}}">Tag</a>
    <a class="blog-nav-item " href="{{'/about.html'}}">About</a>
    {% elsif page.url ==  "/categories.html" %}
    <a class="blog-nav-item" href="/">Home</a>
    <a class="blog-nav-item" href="{{ '/archive.html' }}">Archive</a>
    <a class="blog-nav-item active" href="{{'/categories.html'}}">Category</a>
    <a class="blog-nav-item" href="{{'/tags.html'}}">Tag</a>
    <a class="blog-nav-item " href="{{'/about.html'}}">About</a>
    {% elsif page.url ==  "/tags.html" %}
    <a class="blog-nav-item" href="/">Home</a>
    <a class="blog-nav-item" href="{{ '/archive.html' }}">Archive</a>
    <a class="blog-nav-item" href="{{'/categories.html'}}">Category</a>
    <a class="blog-nav-item active" href="{{'/tags.html'}}">Tag</a>
    <a class="blog-nav-item" href="{{'/about.html'}}">About</a>
    {% elsif page.url ==  "/project.html" %}
    <a class="blog-nav-item" href="/">Home</a>
    <a class="blog-nav-item" href="{{ '/archive.html' }}">Archive</a>
    <a class="blog-nav-item" href="{{'/categories.html'}}">Category</a>
    <a class="blog-nav-item" href="{{'/tags.html'}}">Tag</a>
    <a class="blog-nav-item" href="{{'/about.html'}}">About</a>
    {% elsif page.url ==  "/about.html" %}
    <a class="blog-nav-item" href="/">Home</a>
    <a class="blog-nav-item" href="{{ '/archive.html' }}">Archive</a>
    <a class="blog-nav-item" href="{{'/categories.html'}}">Category</a>
    <a class="blog-nav-item" href="{{'/tags.html'}}">Tag</a>
    <a class="blog-nav-item active" href="{{'/about.html'}}">About</a>
    {% else %}
    <a class="blog-nav-item active" href="/">Home</a>
    <a class="blog-nav-item" href="{{ '/archive.html' }}">Archive</a>
    <a class="blog-nav-item" href="{{'/categories.html'}}">Category</a>
    <a class="blog-nav-item" href="{{'/tags.html'}}">Tag</a>
    <a class="blog-nav-item" href="{{'/about.html'}}">About</a>
    {% endif %}

</nav>