<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 {% include head.html %}
<body>

<div class="blog-masthead">
    <div class="container">
        {% include navbar.html %}
    </div>
</div>

<div class="container">

    <div class="blog-header">
        
    </div>
    <div class="row">

        <div class="col-sm-9 blog-main">
             {{ content }}    

        </div><!-- /.blog-main -->

        <div class="col-sm-3  blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>清哥的学习空间</h4>
                <p>当时只道是寻常</p>
                <p><a href="http://zhangsongqing.com/">http://zhangsongqing.com</a></p>
            </div>
            <div class="sidebar-module">
                <h4>联系我</h4>
                <ol class="list-unstyled">
                    <li><a href="https://github.com/songqing">GitHub</a></li>
                    <li><a href="http://weibo.com/zsq164">Weibo</li>
                </ol>
            </div>
            <div class="sidebar-module">
                {% include recently_posts.html %}
            </div>
            <div class="sidebar-module">
                {% include recently_comments.html %}
            </div>

            <div class="sidebar-module">
                {% include  recently_visitors.html %}
            </div>


        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->





</div><!-- /.container -->

 {% include  footer.html %}



</body>
</html>
