<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  
    <body class="cbp-spmenu-push">
	<nav
		class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left"
		id="cbp-spmenu-s1">
	<h3>Category</h3>
	 {% for category in site.categories %}
    
	
	<a href="/categories/{{ category | first }}/" title="view all posts">{{ category | first }} {{ category | last | size }}</a>
	
	
    {% endfor  %}
	
	
	</nav>
	
		
		
      <div class="container">
    {% include head2.html %}
    {% include header2.html %}
      <div class="main">
          <ul class="cbp_tmtimeline">
              {{ content }}
          </ul>
      </div>
    

       
<div>
			<button id="fetchNextData" class="btn btn-large btn-info" style="width:100%;">More</button>
			{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
</div>
   

 <script type="text/javascript">
        var array = [];
        for(var i=2;i<={{paginator.total_pages}};i++){
             array.push(i);
        }
        var bArray = array.reverse(); 
       
        $("#fetchNextData").click(function(){
          var page =   bArray.pop();
          var $this = $(this);
          $this.addClass("disabled").text("Loding");
      
          $.ajax({
              url: "/page"+page,
               type: 'get',
               dataType: 'html',
               success: function(data) {
                $this.removeClass("disabled").text("More");
                var $content =  $(data).find('ul');
                  $(".cbp_tmtimeline").append($content.html());
               }
          });
    });

  
    $("#category").click(function(){
      //$("body").addClass("cbp-spmenu-push-toright");
      $("#cbp-spmenu-s1").addClass("cbp-spmenu-open");
    });


    $("#cbp-spmenu-s1").click(function(event) {
       $("#cbp-spmenu-s1").removeClass("cbp-spmenu-open");
    });
</script>



     </div>
    </body>

</html>